.inicio {
    background: url(../../../assets/img/inicio.jpg) no-repeat fixed center !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100% ;
    text-align: center;
}